.about__contact {
  display: flex;
  justify-content: center;
  margin: 20rem auto;
  position: relative;

  @include media('<phone') {
    display: block;
    padding-left: 3rem;
  }
}

.about__contact__wrapper {
  display: flex;

  @include media('<phone') {
    display: block;
  }
}

.about__contact__title{
  @extend %title-53;

padding-right: 30rem;

  @include media('<phone') {
 }
}

.about__contact__column {
  padding-top: 10rem;
  width: 49rem;

  @include media('<phone') {
    padding-top: 5rem;
  }
}

.about__contact__text {
  @extend %description-18;

  @include media('<phone') {
    font-size: 3.2rem;
  }
}

.about__header__email__link {
  transition: color 0.4s ease;

  &:hover {
    color: burlywood;
  }
}

.about__contact__description__text {
  @extend %description-18;

  @include media('<phone') {
    font-size: 3.2rem;
  }
}
