.about__services {
  display: flex;
  justify-content: center;
  margin: 20rem auto;
  position: relative;

  @include media('<=phone') {
    display: block;
  }
}


.about__services__wrapper {
  display: flex;

  @include media('<=phone') {
    display: block;
  }
}

.about__services__information {}

.about__services__title {
  @extend %description-18;

  padding-right: 30rem;
  // width: 30rem;

  @include media('<=phone') {
    padding-left: 3rem;
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

.about__services__columns {
  width: 30rem;
  // width: 36.2rem;

  @include media('<=phone') {
    width: 100%;
  }
}

.about__services__label {
  @extend %description-18;

  @include media('<=phone') {
    text-align: center;
    padding-top: 3rem;
  }
}

.about__services__column {
  @extend %description-18;

  margin-top: 2.5rem;
  // max-width: 44rem;

  @include media('<=phone') {
    text-align: center;
  }
}
