.case {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.case__wrapper {
  align-items: center;
  padding: 10rem 0 5rem;

  @include media('<=phone') {
    padding: 10rem 0 0;
  }
}










