.work__header {
  margin-top: 8rem;
  position: relative;

  @include media('<phone') {
    margin-top: 10rem;
  }
}

.work__header__title {
  @extend %title-60;

  margin: auto;
  text-align: center;

  @include media('<phone') {
   font-size: 5.2rem;
   line-height: 1.25;
  // max-width: 60.7rem;
  }
}
